<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Vehicle</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.vehicle %></td>
        <td><%= link_to 'Show', payment, class: 'btn btn-default' %> 
            <%= link_to 'Edit', edit_payment_path(payment) , class: 'btn btn-default' %>
            <%= link_to 'Delete', payment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>      
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path, class: 'btn btn-default'%>
